<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="main-nav container">
      <div class="logo">
        <a href="/"><span>BOO!</span></a>
      </div>
      <ul>
        <li><a href="/auth/login">Log in</a></li>
        <li><a href="/auth/signup">Sign up</a></li>
      </ul>
    </nav>
    <main class="container">
      {{{body}}}
    </main>
  </body>
</html>
